a{
    text-decoration: none;
}
body{
    margin:0;
}
.public-header{
    box-sizing: border-box;
    width:360px;
    margin:0 auto;
    height:66px;
    line-height: 66px;
    background: linear-gradient(to right, #325393 , #24488D);
    color:#FFFFFF;
    font-size:22px;
    font-weight:400;
    padding-left:20px;
}
