.pay-choose-content {
	width: 360px;
	;
	margin: 0 auto;
	margin-top: 94px;
	padding-bottom: 53px;
	box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.15);
}

.pay-choose-content .pay-choose-bill {
	display: flex;
	height: 32px;
	background: #25498E;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 13px;
}

.pay-choose-content .pay-choose-bill p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #ffffff;
	display: flex;
	align-items: center;
	font-weight: 400;
}

.pay-choose-content .pay-choose-bill p .pay-choose-bill-money {
	font-size: 16px;
	font-weight: 500;
}

.pay-choose-content .pay-choose-bill #pay-choose-billspan {
	padding-right: 10px;
	font-size: 12px;
	color: #ffffff;
	background: url('../../img/billForward2.png') no-repeat;
	background-size: 12px 12px;
	background-position: right center;
}

.pay-choose-content .pay-choose-choose {
	width: 64px;
	margin: 0 auto;
	height: 22px;
	font-size: 16px;
	color: #666666;
	font-weight: 400;
	margin-top: 94px;
}

.pay-choose-content .pay-choose-intr {
	width: 260px;
	margin: 0 auto;
	margin-top: 10px;
	height: 18px;
	font-size: 13px;
	color: #999999;
}

.pay-choose-content .pay-choose-btns {
	margin-top: 72px;
}

.pay-choose-content .pay-choose-btns .pay-choose-btn {
	width: 300px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.pay-choose-content .pay-choose-btns .pay-choose-top {
	margin-bottom: 11px;
}

.pay-choose-content .pay-choose-btns .pay-choose-btn .pay-choose-btn-left {
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 95px;
	background: rgba(9, 20, 40, 0.0547);
}

.pay-choose-content .pay-choose-btns .pay-choose-btn .pay-choose-btn-left img {
	width: 30px;
	height: 30px;
}

.pay-choose-content .pay-choose-btns .pay-choose-btn-middle p {
	margin: 0;
}

.pay-choose-content .pay-choose-btns .pay-choose-btn-middle .pay-choose-btn-name {
	font-size: 18px;
	margin-bottom: 6px;
	color: #000000;
}

.pay-choose-content .pay-choose-btns .pay-choose-btn-middle .pay-choose-btn-title {
	font-size: 14px;
	color: #999999;
}

.pay-choose-content .pay-choose-btns .pay-choose-btn-right {
	margin-right: 20px;
}

.pay-choose-content .pay-choose-process {
	text-align: center;
	width: 100px;
	margin: 0 auto;
	margin-top: 37px;
	height: 17px;
	position: relative;
}

.pay-choose-content .pay-choose-process .pay-choose-processt {
	color: #274a8f;
	font-size: 12px;
	font-weight: bold;
}

.pay-choose-content .pay-choose-process .pay-choose-delta {
	width: 0;
	height: 0;
	margin-left: 3px;
	border-width: 6px 6px 0;
	border-style: solid;
	border-color: #274a8f transparent transparent;
	position: absolute;
	top: 10px;
	right: 0px;
}


.use-course-bottom {
	width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}

.use-course-bottom>.use-course-flex {
	display: flex;
	margin-bottom: 19px;
}

.use-course-bottom>.use-course-flex>img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	vertical-align: middle;
}

.use-course-bottom>.use-course-flex p {
	margin: 0;
}

.use-course-bottom>.use-course-flex>div {
	width: 88px;
}

.use-course-bottom>.use-course-flex>div>p {
	font-size: 12px;
	color: #666666;
}

.use-course-bottom>.use-course-flex>div>p:first-child {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
}

.none {
	display: none;
}

.spantop {
	border: 6px solid transparent;
	border-bottom: 6px solid #274a8f;
	width: 0;
	height: 0;
	position: absolute;
	top: 2px;
	right: 0px;
}