.wait-pay-content{
    width:360px;
    margin: 0 auto;
    padding-bottom: 53px;
    box-shadow:0px 3px 12px 3px rgba(0,0,0,0.15);
    margin-top:94px;
}
.wait-pay{
    width:360px;
    margin:0 auto;
    height: 32px;
    line-height:32px;
    background:#25498E;
    display:flex;
    justify-content: space-between;
}
.wait-pay span{
    font-size:16px;
    color:#FFFFFF;
}
.wait-pay .wait-pay-title{
    margin-left:20px;
}
.wait-pay .wait-pay-time{
    margin-right:20px;
}
.wait-pay-exchange{
    width:360px;
    height:43px;
    line-height:43px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.12);
    padding:0 20px;
    box-sizing: border-box;
    margin-bottom: 19px;
}
.wait-pay-exchange .wait-pay-exchange-left img{
    width:30px;
    height:30px;
    vertical-align: middle;
}
.wait-pay-exchange .wait-pay-exchange-left span{
    font-size:18px;
    margin-left:10px;
}
.wait-pay-exchange .wait-pay-exchange-right{
    font-size:14px;
    color:#ff8827;
}
.wait-pay-exchange .wait-pay-exchange-right span{
    font-size:18px;
    font-weight:bold;
}
.wait-pay-qr{
    width:180px;
    height:180px;
    margin: 0 auto;
    margin-top:61px;
}
.wait-pay-qr img{
    width:180px;
    height:180px;
}
.wait-pay-string{
    width:233px;
    margin:0 auto;
    height:17px;
    font-size:12px;
    margin-top:11px;
    color:#163167;
}
.wait-pay-copy{
    width:88px;
    margin:0 auto;
    height:27px;
    margin-top:9px;
}
.wait-pay-copy img{
    width:88px;
    height:27px;
}
.wait-pay-warm{
    width:322px;
    margin:0 auto;
    height:17px;
    color:#ff8827;
    font-size:12px;
    margin-top:19px;
}
.wait-pay-process{
    text-align: center;
    width:100px;
    margin:0 auto;
    margin-top:147px;
    height:17px;
    position:relative;
}
.wait-pay-process .wait-pay-processt{
    color:#274a8f;
    font-size:12px;
    font-weight:bold;
}
.wait-pay-process .wait-pay-delta{
    width:0;
    height:0;
    margin-left:3px;
    border-width:6px 6px 0;
    border-style:solid;
    border-color:#274a8f transparent transparent;
    position:absolute;
    top:10px;
    right:0px;
}